<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.inventory_management_system.model.Users"/>
        <mapping class="com.inventory_management_system.model.AdminUsers"/>
        <mapping class="com.inventory_management_system.model.InventoryItem"/>
        <mapping class="com.inventory_management_system.model.Complaint"/>
        <mapping class="com.inventory_management_system.model.Status"/>
    </session-factory>
</hibernate-configuration>